/* My Styles */
@import url(css.supreme.css);

body {
    background: rgb(153, 201, 133);
    background: linear-gradient(0deg, rgba(153, 201, 133, 0.804) 0%, rgba(255,255,255,1) 56%);
    text-align: center;
}


h1 {
    font-family: 'Supreme-Variable';
    font-size: 4em;
    font-weight: 800;
    color: #99c985;
    text-transform: uppercase;

}

.gallery {
    font-family: 'Supreme-Extrabold';
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

.gallery figure {
    display: inline-block;
    margin: 1em 1em 1em 1em;
    padding: 1em;
    vertical-align: top;
    border-radius: 5%;
    background-color: #525b8842;
    box-shadow: 2px 2px 5px 0 rgba(11, 53, 23, 0.485);
}

img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 2px 2px 2px 0 rgba(11, 53, 23, 0.298);
}

.gallery figure:hover {
    transform: scale(1.1);
}